<!-- navbar.html -->
<nav style="background-color: rgba(56, 102, 65, 0.85); padding: 6px;" class="p-6">
    <div class="container mx-auto">
        <div class="flex items-center justify-between">
            <div>
                <a href="/" style="text-decoration: none; color: white; font-family: 'Jua', sans-serif; font-size: 24px; display: flex; align-items: center;">
                    <img src="/logo.png" alt="Page logo" width="64" height="64" style="margin-right: 4px;">
                    <span class="text-3xl ml-2 pt-4">Chicago Maps</span>
                </a>
            </div>
            <div class="flex space-x-4">
                <div class="space-x-12">
                    <a href="/" style="text-decoration: none; color: white; font-size: 18px;" class="hover:text-gray-400 transition duration-300 text-xl">Home</a>
                    <a href="/querybuilder" style="text-decoration: none; color: white; font-size: 18px;" class="hover:text-gray-400 transition duration-300 text-xl">Relevant info</a>
                    <a href="/queryhub" style="text-decoration: none; color: white; font-size: 18px;" class="hover:text-gray-400 transition duration-300 text-xl">About us</a>
                </div>
            </div>
        </div>
    </div>
</nav>
